/* ================ Global setting ================== */


.absolute-header{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	z-index:98;
}
.section-overlay{
	position:relative;
	z-index:2;
	&:after{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background:#333;
		content:"";
		opacity:.6;
		z-index:-1;
	}
}
.section-padding{
	padding:80px 0;
}

.mb-30{
	margin-bottom:30px;
}

.small-device-mb-40{
	@include media-breakpoint-between(xs, sm) {
        margin-bottom:40px;
    }
}
.small-device-mb-0{
	@include media-breakpoint-only(xs) {
        margin-bottom:0;
    }
}
.small-device-mt-40{
	@include media-breakpoint-between(xs, sm) {
        margin-top:40px;
    }
}