/* =-=-=-=-=-=-=-=-=-=-=
copyright-text section style start 
=-=-=-=-=-=-=-=-=-=-= */

.copyright-text{
	padding:25px;
	border-top:1px solid #8f8c8c;
	p{
		margin-bottom:0;
	}
}


/* =-=-=-=-=-=-=-=-=-=-=
copyright-text section style end 
=-=-=-=-=-=-=-=-=-=-= */