/* =-=-=-=-=-=-=-=-=-=-=
main menu style start 
=-=-=-=-=-=-=-=-=-=-= */

.main-menu{
	margin-top:2px;
	@include media-breakpoint-between(xs, md) {
        display:none;
    }
	ul{
		li{
			display:inline-block;
			a{
				display:block;
				color:$heading-color;
				font-weight:700;
				text-transform:uppercase;
				padding:6px 15px;
				text-decoration:none;
				border:1px solid #fff;
				&:hover{
					border-color:$primary-color;
				}
			}
			margin-left:6px;
			@include media-breakpoint-only(lg) {
		        margin-left:0;
		    }
		}
	}
}

/* =-=-=-=-=-=-=-=-=-=-=
main menu style end 
=-=-=-=-=-=-=-=-=-=-= */