/* =-=-=-=-=-=-=-=-=-=-=
title block style start 
=-=-=-=-=-=-=-=-=-=-= */

.title-block{
	h2{
		font-size:30px;
		text-transform:uppercase;
		margin-bottom:20px;
	}
}


/* =-=-=-=-=-=-=-=-=-=-=
title block style end 
=-=-=-=-=-=-=-=-=-=-= */