/* =-=-=-=-=-=-=-=-=-=-=
title block style start 
=-=-=-=-=-=-=-=-=-=-= */

.title-block{
	h2{
		font-size:30px;
		text-transform:uppercase;
		margin-bottom:20px;
		@include media-breakpoint-only(xs) {
	        font-size:28px;
	    }
	}
}


/* =-=-=-=-=-=-=-=-=-=-=
title block style end 
=-=-=-=-=-=-=-=-=-=-= */