// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-color : #333333;
$button-hover-bg-color: #FFAB00;
$special-hover-color: #F44336;
$special-text-color: #FFAB00;
$border-color: #FFAB00;
$menu-bg-color:#FFAB00;
$love_icon_color: #F44336;
$diif-background-text-color: #ffffff;
$anchor-text-color: #333333;
$icon-bg-color:#333333;
$anchor-hover-color: #FFAB00;
$button-text-color: #ffffff;
$section-border-color:#aaa;
$copyright-color:#999;
$link-font-weight: 500; 
$transition-time: 0.3s;