// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$heading-color:#040c2c;
$text-color:#797979;

$primary-color:#2c3e50;