/* =-=-=-=-=-=-=-=-=-=-=
variable start 
=-=-=-=-=-=-=-=-=-=-= */


$text-color: #7a7d82;
$heading-color:#21293c;
$title-color:#333;
$border-color:#dae2e6;

$transition-time:.3s;

$primary-color:#6ab04c;

$transition-time:.3s;

/* =-=-=-=-=-=-=-=-=-=-=
variable end 
=-=-=-=-=-=-=-=-=-=-= */