/* ================ Global setting ================== */

html,body{
    @include media-breakpoint-between(xs, lg){
        font-size: 14px;
        font-family: 'Lato', sans-serif;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
    font-weight:600;
    font-size:28px;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
a{
    color: $primary-color;
    transition: $transition-time;
    
    &:hover{
        color: $anchor-hover-color;
        text-decoration: none;
    }
}

.section-padding {
    padding: 35px 0;
}
#men-product-showcase.section-padding, #women-product-showcase.section-padding,#brand-slider{
    padding:15px 0;
}
.active{
    background-color:$button-hover-bg-color;
    color: $anchor-text-color;
}
a.special-btn{
    color:$special-text-color;
}