/* ================ homepage style ================== */

header{
	.sticky{
		padding: 0rem !important;
	    position: fixed;
	    transform: translateY(-300px);
	    width: 100%;
	    top: 0;
	    left: 0;
	    box-shadow: 0 0 10px #888;
	    transition: 0.5s ease 0s;
	    background-color: #fff;
	    z-index: 999;
	    h2{
	    	font-size:26px;
	    }
	    p{
	    	font-size:12px;
	    }
	    .logo-text{
	    	padding-top:5px;
	    }
	    .menu,.social-links{
	    	padding-top:15px;
	    }
	}
	.sticky.is-sticky {
	    transform: translateY(0);
	}
}
.header-top{
	margin-top: 15px;
    margin-bottom: 20px;
}
span.account{
	display: block;
    margin-top: 15px;
    font-weight: 600;
	i.fa-user{
		
		height:25px;
		width:25px;
		display:inline-block;
		border:1px solid;
		border-radius:50%;
		line-height:23px;
		text-align:center;
		background-color:$icon-bg-color;
		color:$diif-background-text-color;
		
	}
}

.logo-text{
	text-align:center;
	a{
		&:hover{
			color:#333;
		}
	}
	h2{
		font-size:42px;
		font-weight:900;
		text-transform:uppercase;
		margin:0;

	}
	p{
		margin:0;
		letter-spacing:2px;
		text-transform:uppercase;
		line-height:0;
	}
}

.marketting-box{
	float:right;
	position:relative;
	margin-top: 10px;
	font-weight: 600;
	span.ticker{
		position: absolute;
	    width: 20px;
	    height: 13px;
	    background: #F44336;
	    top: 13px;
	    left: 11px;
	    font-size: 9px;
	    color: #ffffff;
	    text-align: center;
	}
	span.ticker.sell{
		 left: 60px;
   		 background: #FFAB00;
	}
	span.marketting-icon{
		font-weight:600;
		a{
			font-size:25px;
			padding-left:20px;
		}
		

	}
}
.site-header{
	padding: 12px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.header-elements,.sticky{
	display:flex;

	.search-bar{
		flex:1;
	}
	.menu{
		flex:4;
		text-align:right;
		ul{
			margin:0;
			padding:0;
			list-style:none;
			li{
				display:inline-block;
			}
		}
		li{
			a{
				display:block;
				background-color:$menu-bg-color;
				color:$diif-background-text-color;
				padding: 0 16px;
				margin-left:26px;
				border-radius:3px;

			}
		}
	}
	.social-links{
		flex:2;
		text-align:right;
		a{
			margin-right: 10px;
			&:nth(4){
				margin-right:0;
			}
		}
	}
}


.footer-menu{
	li{
		display:inline-block;
		a{
			display:block;
			font-size:13px;
			margin-right:35px;
		}
	}
}
.copyright-text{
	color:$copyright-color;
}
.credit-text{
	text-align: right;
    color: $copyright-color;
    a{
    	color:$copyright-color;
    	&:hover{
    		color:$anchor-hover-color;
    	}
    }
}

#homepage-masonry{
	.item-bg-1{
		 background-image: url(../img/homepage-1.jpg);
	}
	.item-bg-2{
		 background-image: url(../img/homepage-2.jpg);
	}
	.item-bg-3{
		 background-image: url(../img/homepage-3.jpg);
	}
	.item-bg-4{
		 background-image: url(../img/homepage-4.jpg);
	}
	.single-masonry-item{
		background-size:cover;
		background-position:center;
		background-color:#ddd;
		float:left;
		height:500px;
		width:50%;
		color:$diif-background-text-color;
		a{
			color:#FFAB00
		}
		.wide-bg-content{
		   padding: 15px;
    	   padding-right: 200px;
    	   h2{
    	   	    font-size: 26px;
    			margin-top: 40px;
    	   }
    	   p{
    	   	padding-bottom: 10px;
    	   }
		}
		.small-bg-content{
			padding: 10px;
			padding-top:40px;
			h2{
				font-size:24px;
			}
		}
		
	}

	.item-bg-3{
		.small-bg-content{
			h2{
				color:$anchor-text-color;
				padding-bottom:120px;
			}
			
		}
		
	}
	.item-bg-4{
		.small-bg-content{
			h2{
			 padding-right: 130px;
			 padding-bottom:65px;
			}
			
		}
		
	}

	.single-masonry-item.wide-bg{
			height:235px;
			width:50%;
		}
	.single-masonry-item.smalll-bg{
			height:265px;
			width:25%;
		}

	.large-bg-content{
		color:$diif-background-text-color;
		text-align:center;
		padding:100px 130px;
		h4{
			font-size:32px;
			font-weight:900;
			margin:0;
		}
		span.offer{
			position:relative;
			h2{
				font-size:110px;
				font-weight:900;
			}
			p{
			    position: absolute;
			    bottom: -65px;
			    font-size: 70px;
			    left: 0;
			    text-transform: uppercase;
			    font-weight:900;
			}
		}
		p{
			margin-top:60px
		}
	}

}

#subscribe-section{
	.subscribe-area{
		border-top:1px solid #bbb;
		border-bottom:1px solid $section-border-color;
		p{
			margin-bottom: 0px;
		    font-style: italic;
		    letter-spacing: 2px;
		    margin-top: 8px;
		}
		.subscribe-form{
			input[type=text]{
				float: left;
			    padding: 6px 25px;
			    width: 56%;
			}
			input[type=submit]{
				padding: 8px 85px;
			    border: 0px solid;
			    background: orange;
			    color: #fff;
			    text-transform: uppercase;
			    cursor: pointer;
			}
		}
	}
}
#women-product-showcase,#men-product-showcase{
	.bg-1{
		background-image: url(../img/products/women_product-1.jpg);
	}
	.bg-2{
		background-image: url(../img/products/women_product-2.jpg);
	}
	.bg-3{
		background-image: url(../img/products/women_product-3.jpg);
	}
	.bg-4{
		background-image: url(../img/products/women_product-4.jpg);
	}
	.Product-list{
		border-bottom:1px solid $section-border-color;
	}
	.single-product{
		padding:15px;
		border:1px solid #fff;
		margin-bottom: 25px;
		.product-hover{
			position: absolute;
		    bottom: 15px;
		    right: 5px;
		    transition:$transition-time;
		    opacity:0;
			a{
				background-color:$button-hover-bg-color !important;
			}
		}
		&:hover{
			border:1px solid $border-color;
			.product-hover{
				opacity:1;
				bottom:5px;
			}
		}
	}
	.product-bg{
		background-size:cover;
		background-color:#ddd;
		background-position:center;
		height:250px;
		border: 1px solid $section-border-color;
		position:relative;
		a{
			i.fas{
				color:#aaa;
				font-size:20px;
				right: 5px;
			    position: absolute;
			    top: 5px;
			    transition:.4s;
			    &:hover{
			    	color: $special-hover-color;
			    }
			}
			
		}
	}
	
	.rating-box{
		padding: 15px 0;
		h4{
			font-size:14px;
		}
		.product-text{
			color:#ddd;
			float:left;
		}
		.rating-star{
			float:right;
			a{
			i.fas{
				color:#aaa;
				
			    transition:.4s;
			    &:hover{
			    	color: $button-hover-bg-color;
			    }
			}
			
		}
		}
	}
	.price-btn{
		position:absolute;
		bottom:5px;
		left: 5px;
	}
	a.site-btn{
		background-color:#333;
		color:$button-text-color;
		padding:4px 13px;
		font-size: 12px;
	}
	a.site-btn.offer{
		background-color:$special-hover-color;
		margin-left:-3px;
	}
	a.view-btn{
	    margin-top: 40px;
	    border: 1px solid;
	    padding: 10px 50px;
	    display: inline-block;
    	margin-bottom: 25px;
	}
	
}


#men-product-showcase{
	.bg-1{
		background-image: url(../img/products/men_product-1.jpg);
	}
	.bg-2{
		background-image: url(../img/products/men_product-2.jpg);
	}
	.bg-3{
		background-image: url(../img/products/men_product-3.jpg);
	}
	.bg-4{
		background-image: url(../img/products/men_product-4.jpg);
	}
}

#brand-slider{
	.featured-brand-list{
		padding-bottom:20px;
			.active{
		 	background:none;
		 }
		 .single-featured-brand{
		 	img{
		 		width:100%;
		 		height:20px;
		 	}
		 	
		 }
		
	}
}
#daily-accesoties.section-bg{
	background-size:cover;
	background-position:center;
	background-image: url(../img/section-bg.jpg);
	height:420px;
	.accesories-text{
		padding-top:50px;
		h2{
			font-size:50px;
			color:$special-text-color;
		}
		p{
			color:$diif-background-text-color;
		}
	}
	
}

#exclusive-collection{
	.exclusive-product{
		background-size: cover;
	    background-position: center;
	    height: 360px;
	    position:relative;
	    transition:$transition-time;

	}
	.exclusive-bg-1{
		background-image: url(../img/products/exclusive-1.jpg);
	}
	.exclusive-bg-2{
		background-image: url(../img/products/exclusive-2.jpg);
	}
	.exclusive-bg-3{
		background-image: url(../img/products/exclusive-3.jpg);
	}
	.exclusive-product-list{
		.active{
			background:none;
		}
		.single-exclusive-product{
			padding:10px;
			position:relative;
			text-align:center;
			border:1px solid #fff;
			.exclusive-product-hover{
				position: absolute;
			    left: -10%;
			    top: 24%;
			    opacity: 0;
			    transition: $transition-time;
			    visibility: hidden;
				a{
					font-size:24px;
					color:$diif-background-text-color;
				}
			}
			&:hover{
				border:1px solid $border-color;
				.exclusive-product{
					&:after{
						position: absolute;
					    width: 100%;
					    height: 100%;
					    left: 0;
					    top: 0;
					    background: #333;
					    content: "";
					    opacity: .4;
					}
					

				}
				.exclusive-product-hover{
					left: 35%;
				    visibility: visible;
				    opacity: 1;
				}
			}
		}
		.exclusive-product-hover{
		
			li{
		    	a{
		    		&:hover{
		    			color:$anchor-hover-color;
		    		}
		    		
		    	}
	    	}
			
		    
		}
		.exclusive-product-details{
			margin-top:20px;
			h4{
				font-size:22px;
			}
		}
	}
}
.site-footer{
	padding:20px 0;
	background-color:#eee;
}