/* ================ button style ================== */


.bordered-btn{
	display:inline-block;
	color:#fff;
	background:#fff;
	border:3px solid #fff;
	padding:4px 15px;
	text-align:left;
	border-radius:4px;
	font-size:14px;
	text-decoration:none;
	transition:$transition-time;
	position:relative;
	z-index:2;
	&:hover{
		color:#fff;
		&:after{
			opacity:1;
			visibility:visible;
			width:100%;
		}
	}
	&:after{
		position:absolute;
		left:0;
		top:0;
		width:0%;
		height:100%;
		background:$primary-color;
		content:"";
		z-index:-1;
		opacity:0;
		visibility:hidden;
		transition:$transition-time;
	}
}

.bordered-btn{
	border:3px solid $primary-color;
	background:#fff;
	color:$heading-color;
	
}