/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
about area section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.about-img{
	
	width:40%;
	
	float:left;
	margin-right:40px;
	@include media-breakpoint-only(xl) {
		
       width:34%;
    }
	@include media-breakpoint-only(xs) {
		width:100%;
        margin-right:0;
        text-align:center;
    }
	img{
		height:420px;
		border:1px solid #f0f0f0;
		@include media-breakpoint-only(sm) {
	        height:300px;
	    }
		@include media-breakpoint-only(xs) {

	        height:370px;
	    }
	}
	
}

.about-text{
	p{
		text-align:justify;
	}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
about area section style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */