/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
about area section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.profile-image{
	position:relative;
	z-index:2;
	&:after{
		position:absolute;
		right:-30px;
		bottom:-30px;
		height:100%;
		width:100%;
		border:8px solid $primary-color;
		content:"";
		z-index:-1;
		@include media-breakpoint-only(xs) {
	        display:none;
	    }
	}
	img{
		border:1px solid #ddd;
		width: 100%;
	}
}

.about-action{
	margin-top:40px;
	.boxed-btn{
		background:$primary-color;
		color:#fff;
		margin-right:20px;
		@include media-breakpoint-only(xs) {
	       margin-right:15px;
	    }
	}
	a{
		@include media-breakpoint-only(xs) {
	        font-size:14px;
	    }
	}
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
about area section style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */