/* ================ footer style ================== */

.footer-area{
	background:#f0f0f0;
	padding-top:40px;
}
.footer-bottom{

	border-top:1px solid #999;
}
.footer-content{
	.logo{
		margin-top:10px;
	}
	.link-list{
		margin-bottom:10px;
	}
}
.link-list{
	ul{
		li{
			display:inline-block;
			a{
				display:block;
				color:$primary-color;
				font-weight:800;
				text-decoration:none;
				margin-right:15px;
			}
		}
	}
}
.promo-text{
	@include media-breakpoint-between(xs, sm) {
        text-align:center;
    }
	p{
		margin-bottom:0;
		font-size:14px;
		a{
			color:$primary-color;
			font-weight:700;
			text-decoration:none;
			&:hover{
				color:$text-color;
			}
		}
	}
}
.copyright-text{
	font-size:14px;
	@include media-breakpoint-between(xs, sm) {
        text-align:center;
    }
	a{
			color:$primary-color;
			font-weight:700;
			text-decoration:none;
			&:hover{
				color:$text-color;
			}
		}
}