/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
hero area section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.hero-text{
	p{
		color:#fff;
		font-size:24px;
		font-weight:800;
	}
	h2{
		font-size:40px;
		color:#fff;
		line-height:50px;
		@include media-breakpoint-between(xs, sm) {
	       font-size:28px;
	    }
	}
}
.social-links{
	margin-top:30px;
	a{
		display:inline-block;
		color:#fff;
		font-size:16px;
		margin-left:15px;
		height:35px;
		width:35px;
		line-height:35px;
		border-radius:50%;
		transition:.3s;
		text-align:center;
		&:first-child{
			margin-left:0;
		}
		&:hover{
			background:#fff;
			color:#333;

		}

	}
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
hero area section style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */