/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
hero area style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.hero-area{
	height:650px;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	.hero-wrapper{
		width:100%;

	}
}
.hero-bg{
	background-size:cover;
	background-position:center;
	background-color:#ddd;
}
.hero-bg-1{
	background-image:url('../images/home-1.jpg');
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
hero area style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */