/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
news-letter-section area style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.news-letter-text{
	h2{
	    color: #ffffff;
	    text-transform: uppercase;
	    font-size:18px;
	    line-height:1.5;
	    margin-right: 20px;
	    margin-bottom: 0;
		font-weight:500;
		span{
			margin-top:5px;
			display:block;
			font-size:14px;
			text-transform:capitalize;
		}
	}
}
.news-letter-form{
	width:65%;
	@include media-breakpoint-between(xs, sm) {
        width:100%;
        margin-top:15px;
    }
	.input-group{
		height:50px;
		.input-group-append{
			width: 100%;
    		border: 2px solid #ddd;
    		input[type=email]{
    			border: none;
			    background: none;
			    color: #ffffff;
			    width: 75%;
			    border-right: 2px solid #ddd;
			    height: 100%;
			    padding-left: 15px;
			    padding-right: 15px;
			    @include media-breakpoint-only(xs) {
			       width: 65%;
			       padding-right:0;
			       padding-left:10px;
			    }
    		}
    		button{
    			width: 24%;
			    background: none;
			    border: none;
			    color: #ffffff;
			    font-weight: 600;
			    cursor:pointer;
			    @include media-breakpoint-between(xs, md) {
			         width: 23%;
			    }
			    @include media-breakpoint-only(xs) {
			       width: 33%;
			       padding:0;
			    }
    		}
		}
	}
	.subscribe-form{
		width:100%;
	}
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
news-letter-section area style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */