/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
offcanvas shade style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.offcanvas-shade{
	position:fixed;
	width:100%;
	height:100%;
	background:#fff;
	z-index:98;
	opacity:0;
	visibility:hidden;
	transition:$transition-time;
}

.active.offcanvas-shade{
	visibility:visible;
	opacity:.5;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
offcanvas shade style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */