/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
single-section style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.single-section{
	width:100%;
	height:auto;
}

.sb-content{
	padding:0 50px;
	padding-top:40px;
}
.sb-content.portfolio-block{
        min-height:100vh;

    }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
single-section style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */