/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
title block style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.title-text{
	padding: 8px 35px;
	color: #fff;
	border-left: 0;
	display: inline-block;
	font-weight: 300;
	font-size: 28px;
	padding-top:12px;
	background: $primary-color;;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
title block style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */