/* =-=-=-=-=-=-=-=-=-=-=
variable start 
=-=-=-=-=-=-=-=-=-=-= */



$text-color: #333333;
$heading-color:#000000;
$title-color:#333;
$border-color:#dddbdb;


$primary-color:#fc721e;

$transition-time:.3s;

/* =-=-=-=-=-=-=-=-=-=-=
variable end 
=-=-=-=-=-=-=-=-=-=-= */