/* ===================== 

Service Section Three style 

===================== */

.service-section-three{
	.single-service{
		position:relative;
		margin-top:30px;
		.single-service-bg{
			background-size:cover;
			height:220px;

		}
		.service-bg-1{
			background-image:url('../images/service-section-3/bg-1.jpg');
		}
		.service-bg-2{
			background-image:url('../images/service-section-3/bg-2.jpg');
		}
		.service-bg-3{
			background-image:url('../images/service-section-3/bg-3.jpg');
		}
		.service-box-content{
			
			text-align:center;
			padding:20px;
			border:1px solid #f3f3f3;
			border-top:0px solid #f3f3f3;
			h4{
				text-transform:uppercase;
				font-size:18px;
				color:#000;
				margin:0;
			}
			p.service-meta{
				color:#bbb;
				font-size:12px;

			}
		}
		.service-box-extention{
		    position: absolute;
		    text-align: center;
		    width: 100%;
		    left: 0;
		    bottom: -24px;
		    a.bordered-btn{
		    	display: inline-block;
			    padding: 15px 30px;
			    border: 1px solid #f3f3f3;
			    background-color: #fff;
			    color:#999;
			    font-weight:900;
			    font-size:12px;
			    text-transform:uppercase;
			    text-decoration:none;
		    }
		}
	}
	
	h2.section-title{
		color:#333;
		&:after{
			background-color:#333;
		}
	}
	
}