/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
	slider dots style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.slick-dots{
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -23px;
    @include media-breakpoint-only(xs) {
        bottom: 18px;
    }
	li.slick-active{
		button{
			background: $primary-color;
			border-color: #fff;
		}
	}
	li{
		display:inline-block;
		button{
			color: #fff;
		    background: #fff;
		    border: 1px solid $primary-color;
		    height: 13px;
		    width: 13px;
		    line-height: 13px;
		    border-radius: 50%;
		    display: block;
		    font-size: 0;
		    margin-right:4px;
		}
	}
} 


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
	slider dots style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */